/* .clearfix:after; */
body{
	color:#031204;
	font-family: 'Inconsolata', serif;
	font-size: 12px;
	text-align: center;

}

header{
	font-weight: bold;
	text-align: center;
	font-family: 'Inconsolata', serif;
	padding:1em;
	text-decoration: capitalize;
	font-size: 40px;
}

nav{
	color: #000000;
    font-size: 30px;
    float: center;
}

section#gallery{
	width: 20px;
}