/* .clearfix:after; */
body{
	color:#031204;
	font-family: 'Inconsolata', serif;
	font-size: 10px;
	text-align: center;

}

header{
	color: #ffffff;
	background-color: #4f4d4d;
	font-weight: bold;
	text-align: center;
	font-family: 'Inconsolata', serif;
	padding:1em;
	text-decoration: capitalize;
	font-size: 40px;
}

nav{
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	background-color: #4f4d4d;
    font-size: 25px;
    float: center;
    padding: 10px;
}

section#gallery{
	display: block;
}

footer{
	font-size: 20px;
	color: #ffffff;
	background-color: #4f4d4d;
}