* { margin:0;padding:0;box-sizing:border-box; }
body{
	color:#ffffff;
	font-size: 20px;
	font-family: 'Gudea', sans-serif;
}

header{
	background-color: #deeaf6;
	color: #525252;
	font-size: 45px;
	font-weight: 900;
	text-align: left;
	font-family: 'Playfair Display SC', serif;
	padding: 1.5em;
	
}

nav {
	float: right;
}

nav a {
	color: #6f7376;
	text-decoration: none;
	text-transform: lowercase;
	background-color: #deeaf6;
    font-size: 20px;
	margin: 10px;
}

section#splash {
	background-image:url(images/juiceshot.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:95vh;
	text-align: left;
	padding: 10em;
	padding-right: 50em;
}

section#splash2 {
	background-image:url(images/green-lettuce-field.jpg);
	background-repeat:no-repeat;
	background-size: inherit;
	height:65vh;
	float: left;

ul {
	color: #525252;
	margin-left: 1.25em;
	float: right;
	clear: right;
}
li.open {list-style: circle;
}
}

section#footer {
	color: #525252;
	background-color: #deeaf6;
	font-size: 20px;
	font-weight: 900;
	text-align: center;
	font-family: 'Playfair Display SC', serif;
	padding: 4em;
	clear: both;

}
