* { margin:0;padding:0;box-sizing:border-box; }
body{
	color:#ffffff;
	font-size: 20px;
	font-family: 'Source Sans Pro', sans-serif;
}

p.logo{
	background-color: #deeaf6;
	color: #525252;
	font-size: 45px;
	font-weight: 900;
	text-align: left;
	font-family: 'Playfair Display SC', serif;
	padding: 1.5em;
	
}

nav {
	float: right;
}

nav a {
	color: #ffffff;
	text-decoration: none;
	text-transform: lowercase;
	background-color: auto;
    font-size: 25px;
	margin: 10px;
	padding: .5em;
}

section#splash {
	background-image:url(images/juiceshot.png);
	background-repeat:no-repeat;
	background-size:cover;
	height: 95vh;
	text-align: left;
	padding: 5em;
	padding-right: 50em;
}

section#splash2 {
	background-image:url(images/green-lettuce-field.jpg);
	background-repeat:no-repeat;
	background-size: inherit;
	height:65vh;
	float: left;
	font-size: 40px;
}

ul {
	color: #525252;
	margin-left: 5em;
	float: right;
	clear: right;
}

li.open {list-style: circle;
}


footer {
	color: #525252;
	background-color: #deeaf6;
	font-size: 20px;
	font-weight: 900;
	text-align: center;
	font-family: 'Playfair Display SC', serif;
	padding: 4em;
	clear: both;
}



@media only screen and (max-width: 800px) {
	nav{
		float: none;
	}

	body {
		font-size: 1em
	}

	#splash2 {
		float: none;
	}



}

@media only screen and (max-width: 320px) {
	header, nav {
		text-align: center;
		display: block;
	}

	body{ font-size: 1em;
	}
	
}

