body{
	color:#6f7376;
	font-family: tahoma, sans-serif;
	font-size: 20px;
	text-align: center;
}
h1{color:#6f7376;
	background-color: #deeaf6;
	font-weight: 900;
	text-align: center;
}
li.open {list-style: circle}
